NEXT_PUBLIC_JUDGIX_ADDRESS=0x528d6fD06122b8ce461c33B1c3Fb7062f5eae7ED
NEXT_PUBLIC_ADMIN_ADDRESS=0xEA8c474cED58DB2750F21a797636a64FeF39297d
NEXT_PUBLIC_PRIVY_APP_ID=cmqa0u9rv00260bl5ypfog0tb
NEXT_PUBLIC_GENLAYER_RPC=https://studio.genlayer.com:8443/api
